@media screen and (min-width: 200px) and (max-width: 780px) {
  .rdw-editor-toolbar {
    overflow: auto;
    height: 120px;
    display: flex !important;
    justify-content: flex-start !important;
  }
}

.example::-webkit-scrollbar {
  display: none;
}